@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100vw;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .nav-link {
    display: flex;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: inline-block;
  }
nav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    float: left;

}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding: 0 10px;
    background-color: #29323c;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.brand{
  text-decoration: none;
  margin-left: 30px;
  margin-top: 20px;
}
.brand h1 {
    font-size: 2rem;
    text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.brand h1 span {
  color: crimson;
}
nav > div{  
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.nav-list{
  /* margin-left: 10%; */
  margin-right: 20px
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.brandclass{
    text-decoration: none;
  }

#About .about {
  display: flex;
	flex-direction: row;
  text-align: center;
  justify-content: space-between;
	max-width: 1200px;
	margin-top: 20px;
	padding: 20px 20px;
}
#About .col-left {
	width: 30%;
  height: 360px;
  margin-top: 60px;
  margin-left: 50px;
}
#About .col-right {
  width: 100%;
  margin-left: 20px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 25px;
  height: auto;
  padding: 10px;
}
#About .col-right h2 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#About .col-right p {
	font-size: 15px;
	margin-bottom: 20px;
}
#About .col-right .cta {
	color: black;
	/* margin-bottom: 5px; */
	padding: 10px 20px;
	font-size: 2rem;
}
#About .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 5px solid white;
}
#About .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid  crimson;
	z-index: -1;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 5px;
	transition: .3s ease;
	transition-property: background-color, color;
	
}
.cta:hover {
	color: white;
	background-color: crimson;
}
a {
	text-decoration: none;
}
/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */